<div class="card">
  <div class="card-body">
    <%= form_with model: @event, local: true do |form| %>
      <% if @event.errors.any? %>
        <p><b>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this event from being saved:
        </b></p>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

    <!--EVENT TITLE-->
      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: "form-control" %>
      </div>

        <!--DESCRIPTION-->
      <div class="form-group">
        <%= form.label :description do
          "Description (supports #{link_to('markdown', 'https://www.markdownguide.org/basic-syntax/', target: "_blank")})".html_safe
          end %>
        <%= form.text_area :description, class: "form-control", rows: 8 %>
      </div>

      <!--REGISTRATION TOGGLE-->
      <div class="form-check" style="margin-bottom:8px;">
        <%= form.check_box :registration_enabled, id: "registration_checkbox", class: "form-check-input" %>
        <%= form.label :registration_enabled, "Registration Enabled", for: "registration_checkbox", class: "form-check-label" %><br>
      </div>

      <!--CAPACITY-->
      <div id="capacity" class="form-group" style="display:none;">
        <%= form.label :capacity %><br>
        <%= form.text_field :capacity, class: "form-control" %>
      </div>

      <script type="text/javascript">
        var checkbox = document.getElementById('registration_checkbox');
        var capacity_div = document.getElementById('capacity');
        checkbox.onchange = function() {show_capacity()};
        $(document).on('page:change', show_capacity());
        function show_capacity() {
          console.log("test");
          if(checkbox.checked) {
            capacity_div.style['display'] = 'block';
          } else {
            capacity_div.style['display'] = 'none';
          }
        }
      </script>

      <!--LOCATION-->
      <div class="form-group">
        <%= form.label :location, "Location" %><br>
        <%= form.text_field :location, class: "form-control" %>
      </div>

      <!--DATE/TIMES-->
      <%= form.label :start_date, "Date/time" %>
      <div class="form-inline">
        <%= form.datetime_select :start_date, {ampm: true}, html_options = { class: "form-control" } %>
        <div style="padding-left:10px;padding-right:10px;"> to </div>
        <%= form.time_select :end_time, {ampm: true}, html_options = { class: "form-control" } %>
      </div>

      <br>
      <%= form.submit 'Submit', class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<br>
 <%= link_to 'Back', events_path, class: "btn btn-primary" %>
