<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation" class="container error-newhtml">
      <p><b>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </b></p>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container z-depth-3" style="padding: 50px 0 0 0; margin-top: 30px; background-color: #f7f7f7">
    <div class="row">
      <h4 class="center">Add/Edit Event</h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
          <!--EVENT TITLE-->
            <i class="material-icons prefix">title</i>
            <%= form.label :title %><br>
            <%= form.text_field :title %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <!--DESCRIPTION-->
            <i class="material-icons prefix">description</i>
            <%= form.label :description %><br>
            <%= form.text_area :description, :class => 'materialize-textarea' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <!--CAPACITY-->
            <i class="material-icons prefix">capacity</i>
            <%= form.label :capacity %><br>
            <%= form.text_field :capacity %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <!--DATE-->
            <i class="material-icons prefix">date</i>
            <% form.label :date %><br>
            <%= form.datetime_field :date, {ampm: true} %>
          </div>
        </div>
        <div class="row center">
          <%= form.submit 'Submit', :class => 'waves-effect waves-light btn' %>
        </div>
        <div class="row center">
          <%= link_to 'Back', events_path %>
        </div>
      </form>
    </div>
  </div>
<% end %>
