<div class="card">
  <div class="card-body">
    <%= form_with model: @event, local: true do |form| %>
      <% if @event.errors.any? %>
        <p><b>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this event from being saved:
        </b></p>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

    <!--EVENT TITLE-->
      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: "form-control" %>
      </div>

        <!--DESCRIPTION-->
      <div class="form-group">
        <%= form.label :description do
          "Description (supports #{link_to('markdown', 'https://www.markdownguide.org/basic-syntax/', target: "_blank")})".html_safe
          end %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <!--CAPACITY-->
      <div class="form-group">
        <%= form.label :capacity %><br>
        <%= form.text_field :capacity, class: "form-control" %>
      </div>

      <!--LOCATION-->
      <div class="form-group">
        <% form.label :location %><br>
        <%= form.text_field :location, class: "form-control" %>
      </div>

      <!--DATE-->
      <div class="form-group">
        <% form.label :date %><br>
        <%= form.datetime_select :date, {ampm: true}, html_options = { class: "form-control" } %>
      </div>

      <%= form.submit 'Submit', class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<br>
 <%= link_to 'Back', events_path, class: "btn btn-primary" %>
