<h1>Events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td width=100><%= event.title %></td>
      <td width=350><%= event.description %></td>
      <td width=75><%= link_to 'Show', event_path(event) %></td>
      <% if current_user&.is_admin? %>
        <td width=75><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Delete', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
  <% end %>

</table>

<br><br>
<% if current_user&.is_admin? %>
  <%= link_to 'New event', new_event_path %>
<% end %>
