<<<<<<< HEAD
<h1>Events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td width=100><%= event.title %></td>
      <td width=350><%= event.description %></td>
      <td width=75><%= link_to 'Show', event_path(event) %></td>
      <% if current_user&.is_admin? %>
        <td width=75><%= link_to 'Edit', edit_event_path(event) %></td>
      <% end %>
    </tr>
  <% end %>

</table>

<br><br>
<% if current_user&.is_admin? %>
  <%= link_to 'New event', new_event_path %>
<% end %>
=======
<center>
	<br><br>
	<h1>Login Page</h1><br>
	<p>First git omg</p>

  <% if current_user %>
		<p>Signed in as: <%= current_user.email %></p>
		<%= link_to "Log out", :logout %>
	<% else %>
		<%= link_to "Log in", :google_auth %>
	<% end %>
</center>
>>>>>>> bcb7ed8e2aba4b2bc19fa2974d8ec12f6e49305e
