<% title @event.title %>
<% meta_tag :description, @event.description %>
<% meta_tag :og_description, @event.description %>
<% meta_tag :og_title, @event.title + " | Computer Science Society" %>
<% meta_tag :keywords, (@event.title.downcase.gsub(/\W+/, ' ').tr(' ', ',') + "computer,science,society,css,uwindsor,university,of,windsor") %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @event.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">
      <% if @event.multi_day? %>
        <%= @event.start_date.strftime('%A, %B %d, %Y at %l:%M%P') %> - <%= @event.end_date.strftime('%A, %B %d, %Y at %l:%M%P') %>
      <% else %>
        <%= @event.start_date.strftime('%A, %B %d, %Y from %l:%M%P') %> - <%= @event.end_date.strftime('%l:%M%P') %>
      <% end %>
      <% if @event.start_date.future? %>
        (in <%= distance_of_time_in_words(Time.now, @event.start_date) %>)
      <% else %>
        (<%= distance_of_time_in_words(Time.now, @event.start_date) %> ago)
      <% end %>
    </h6>
    <% if @event.registration_enabled %>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">
        There are <%= "#{@event.spots_remaining}/#{@event.capacity}" %> spots open.
      </h6>
    <% end %>
    <br>
    <div class="card-text">
      <% if @event.location&.present? %>
        <p><b>Location: </b><%= link_to @event.location, "https://maps.google.com/?q=#{@event.location}", target: :_blank %></p>
      <% end %>
      <p><b>Description: </b><%= markdown(@event.description) %></p>
    </div>

    <br>
    <% if @event.registration_enabled %>
      <% if current_user && @event.start_date.future? %>
          <% if @user_registration %>
            <%= link_to 'Unregister from Event',
              registration_path(event_id: @event.id, registration_id: @user_registration),
              method: :delete,
              class: "btn btn-danger" %>
          <% elsif @event.current_capacity < @event.capacity %>
            <%= link_to 'Register for Event',
              new_registration_path(event_id: @event.id, user_id: current_user.id),
              class: "btn btn-success" %>
          <% else %>
            <a class="btn btn-danger disabled">Event Full</a>
          <% end %>
      <% elsif current_user.nil? %>
         <%= link_to "Sign in to Register", :google_auth, class: "btn btn-success" %>
      <% end %>
    <% end %>

    <% if current_user&.is_admin %>
      <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-warning" %>
      <%= link_to 'Delete', event_path(@event),
        method: :delete,
        data: { confirm: 'Are you sure? This will also attempt to delete the Discord message related to this event.' },
        class: "btn btn-danger" %>
    <% end %>
   
    <% if @event.start_date.future? %>
      <%= link_to @event.google_calendar_url, class: "btn btn-primary", target: "_blank", :id => "my_link" do %>
        <i class="fa fa-calendar"></i> Add to Google Calendar
      <% end %>
    <% else %>
      <%= link_to @event.google_calendar_url, class: "btn btn-primary", target: "_blank", :id => "mylink" do %>
        <i class="fa fa-calendar"></i> Add to Google Calendar
      <% end %>
    <% end %>
    <script>
      $('#mylink').click(function(e){
            e.preventDefault();
            $('#mylink').html("This event already occured");
            return true
      });
    </script>
        
  </div>
</div>
<br>
<% if current_user&.is_admin? %>
  <h5>Guest List</h5>
  <ol class="list-group">
    <% if @event.all_guests.empty? %>
      <li class="list-group-item">There are no users registered for this event.</li>
    <% else %>
      <% @event.all_guests.each do |guest| %>
        <li class="list-group-item" style="display: list-item;"><%= guest.name %> - <%= guest.email %></li>
      <% end %>
    <% end %>
  </ol>
<% end %>
<br>
<%= link_to 'Back', events_path, class: "btn btn-primary" %>
