<% title "Discord" %>
<% meta_tag :description, "The Computer Science Society Discord server is comprised of almost half a thousand students and provides a platform for students to connect and discuss courses, co-op, and general discussion." %>
<% meta_tag :og_description, "The Computer Science Society Discord server is comprised of almost half a thousand students and provides a platform for students to connect and discuss courses, co-op, and general discussion." %>
<% meta_tag :og_title, "Discord | Computer Science Society" %>
<% meta_tag :keywords, ("discord,server,chat,computer,science,society,css,uwindsor,university,of,windsor") %>

<div class="discord_images">
  <div class="discord_logo">
    <%= image_tag("discord-logo.png", height: '57', width: '50') %>
  </div>
  <div class="discord_logo">
    <%= image_tag("css-logo-square.png", height: '57') %>
  </div>
  <br>
</div>
<center><%= image_tag 'https://discordapp.com/api/guilds/453373412707008522/widget.png' %></center>
<br>

<% if @page.present? %>
  <%= render 'markdown_pages/markdown_page', page: @page, page_title: @page_title %>
<% else %>
  There is no content to show currently 
  <br><br>
<% end %>

<% if current_user&.is_admin? %>
   <%= link_to "New page", new_markdown_page_path(title: @page_title), class: "btn btn-success" %>
<% end %>
<br><br> 

<center>
  <br>
  <% if current_user&.discord_user&.verified? %>
    <b>A Discord user has already been linked to this UWindsor account.<br>You may proceed with the steps below if you've left the server and wish to re-join.</b>
    <br><br>
  <% end %>

  <% if current_user %>
    <%= link_to "✓ Step 1: Authorized with UWindsor", :office365_auth, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Step 1: Authorize with UWindsor", :office365_auth, class: "btn btn-outline-primary" %>
  <% end %>
  <br><br>
  <% if current_discord_user %>
    <%= link_to "✓ Step 2: Authorized with Discord", :discord_auth, class: "btn btn-primary" %>
  <% else %>
    <% if current_user %>
      <%= link_to "Step 2: Authorize with Discord", :discord_auth, class: "btn btn-outline-primary" %>
    <% else %>
      <%= link_to "Step 2: Authorize with Discord", :discord_auth, class: "btn btn-outline-primary disabled" %>
    <% end %>
  <% end %>
  <% if current_discord_user %>
    <br><br><br>
    <%= link_to "Sign out of Discord", :discord_logout, class: "btn btn-outline-danger" %>
  <% end %>

</center>
