<h2>Edit page</h2>
<div class="card">
  <div class="card-body">
    <%= form_with model: @post, local: true do |form| %>
      <!--PAGE TITLE-->
      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, value: (@post.title.present? ? @post.title : params[:title]), class: "form-control" %>
      </div>

        <!--CONTENT-->
      <div class="form-group">
        <%= form.label :content do
          "Content (supports #{link_to('markdown', 'https://www.markdownguide.org/basic-syntax/', target: "_blank")})".html_safe
          end %>
        <%= form.text_area :content, class: "form-control", rows: 20 %>
      </div>

      <%= form.submit 'Submit', class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<br>
 <%= link_to 'Back', posts_path, class: "btn btn-primary" %>
