<% title "Job Postings" %>
<% meta_tag :description, "Job postings in Canada." %>
<% meta_tag :og_description, "Job postings in Canada." %>
<% meta_tag :og_title, "Job Postings | Computer Science Society" %>
<% meta_tag :keywords, ("job,internships,careers,postings,outings,workshops,computer,science,society,css,uwindsor,university,of,windsor") %>

<center>
  <%= link_to 'Submit a Job Posting', (current_user ? new_job_posting_path : :google_auth), class: "btn btn-success" %>
</center>

<h4>Job Postings</h4>
<% @job_postings.each_slice(3) do |job_postings| %>
  <div class="row">
    <% job_postings.each do |job_posting| %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= link_to job_posting.company, job_posting_path(job_posting) %></h5>
            <p class="card-text"><%= job_posting.job_title %></p>
            <% if current_user&.is_admin? %>
              <%= link_to 'Edit', edit_job_posting_path(job_posting), class: "btn btn-warning" %>
              <%= link_to 'Delete', job_posting_path(job_posting),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
<% end %>
