<% title "Job Postings" %>
<% meta_tag :description, "Job postings in Canada." %>
<% meta_tag :og_description, "Job postings in Canada." %>
<% meta_tag :og_title, "Job Postings | Computer Science Society" %>
<% meta_tag :keywords, ("job,internships,careers,postings,outings,workshops,computer,science,society,css,uwindsor,university,of,windsor") %>

<% if current_user&.is_admin? %>
  <h4>Postings awaiting approval</h4>
  <% @unapproved_postings.each_slice(3) do |job_postings| %>
      <% job_postings.each do |job_posting| %>
        <div class="card border-success mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= job_posting.company %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= job_posting.job_title %></h6>
            <p class="card-text"><%= link_to job_posting.url, job_posting.url, target: "_blank" %></p>
            <% if current_user&.is_admin? %>
              <%= link_to 'Approve', approve_job_posting_path(job_posting), method: :patch, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_job_posting_path(job_posting), class: "btn btn-warning" %>
              <%= link_to 'Delete', job_posting_path(job_posting),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <br>
  <% end %>

  <h4>Reported postings</h4>
  <% @reported_postings.each_slice(3) do |job_postings| %>
      <% job_postings.each do |job_posting| %>
        <div class="card border-danger mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= job_posting.company %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= job_posting.job_title %></h6>
            <p class="card-text"><%= link_to job_posting.url, job_posting.url, target: "_blank" %></p>
            <% if current_user&.is_admin? %>
              <%= link_to 'Approve', approve_job_posting_path(job_posting), method: :patch, class: "btn btn-success" %>
              <%= link_to 'Edit', edit_job_posting_path(job_posting), class: "btn btn-warning" %>
              <%= link_to 'Delete', job_posting_path(job_posting),
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <br>
  <% end %>
<% else %>
  You do not have permission to view this page.
<% end %>
