<!DOCTYPE html>
<html>
  <head>
    <title>UwindsorCssEventsSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'materialize.min' %>
  </head>

  <body>

      <nav>
        <div class="nav-wrapper" style="background-color: #0032bc">
          <a href="http://css.uwindsor.ca/" class="brand-logo" style="padding: 0 0 0 20px">Computer Science Society</a>
          <!--<a href="http://css.uwindsor.ca/" class="brand-logo" style="padding: 0 0 0 400px; font-size: 20px;">Sign up for events!</a>-->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html"><!--Add a menu item--></a></li>
            <li><a href="badges.html"><!--Add a menu item--></a></li>
            <li>
              <% if current_user %>
              <ul><li>
                Signed in as: <%= current_user.email %></li><li><%= link_to "Log out", :logout %></li></ul>
              <% else %>
                <%= link_to "Log in", :google_auth %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    <%= yield %>
  </body>
</html>
