<!DOCTYPE html>
<html>
  <head>
    <title>UW Computer Science Society</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="shortcut icon" type="image/png" href="http://www.uwindsor.ca/sites/all/themes/uwindsor_bootstrap/favicon-32x32.png">
  </head>

  <body>
    <nav>
      <ul>
        <a href="/events"><%= image_tag("uwindsor_logo.png", size: "270x75") %></a>
        <li>
          <%= link_to "Events", events_path %>
        </li>
        <li>
          <%= link_to "Discord", :discord_path %>
        </li>
        <li>
          <a href="http://tutor.cs.uwindsor.ca/" target="_blank">Tutoring</a>
        </li>
        <li>
          <%= link_to "Resources", :resources %>
        </li>
        <li>
          <a href="https://github.com/EricPickup/uwindsor-css-events-site" target="_blank">Contribute</a>
        </li>
        <li>
          <% if current_user %>
            <ul><li>
              Signed in as: <%= current_user.email %></li><li><%= link_to "Log out", :logout %>
            </li></ul>
          <% else %>
            <%= link_to "Log in", :google_auth %>
          <% end %>
        </li>
      </ul>
    </nav>

    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>
    <% if flash[:success] %>
      <p><%= flash[:success] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
